@import "colors.css";

* {
    font-family: "FiraCode Nerd Font";
    font-size: 16px;
}

#window {
    background: @surface;
    font-weight: normal;
    font-style: normal;
}

window#waybar {
    background-color: @surface-alpha;
    color: @on_background;
}

#workspaces {
    color: @on_surface;
}

#workspaces button {
    padding: 0 8px;
    color: @on_surface;
    background: transparent;
    border: none;
    font-weight: bold;
}

#workspaces button.active {
    font-weight: bold;
    color: @error;
    background: @curface-alpha;
    border-radius: 0px;
}

#clock {
    padding: 0 12px;
    font-weight: bold;
}

#wireplumber {
    padding: 0 10px;
}

#language {
    padding: 0 10px;
}

#network {
    padding: 0 10px;
}

#tray {
    padding: 0 10px;
}

tooltip {
    background-color: @surface;
    border: 3px solid @on_surface;
    border-radius: 10px;
}

tooltip laber {
    color: @on_surface;
    padding: 6px;
}
